html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;
  color: #E8E8E8;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Amatic SC', 'Sacramento', 'Dancing Script', cursive;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

h2 {
  font-family: 'Amatic SC', 'Sacramento', 'Dancing Script', cursive;
  font-size: 54px;
  color: #C4C4C4;
  margin: 0px;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 27px;
  color: #C4C4C4;
  margin: 0px;
}

.trendingButton,
.searchButton,
.favoritedButton,
.heartButton {
  padding: 20px;
  margin: 25px 10px;
  margin-right: 20px;
  justify-content: center;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7  51%, #1CD8D2  100%);
  background-size: 200%;
  transition: 0.5s;
  outline: none;
  /* box-shadow: 2px 2px 7px 1px #636363; */
}

.trendingButton:hover,
.trendingButton:focus,
.searchButton:hover,
.searchButton:focus,
.favoritedButton:hover,
.favoritedButton:focus,
.heartButton:hover,
.heartButton:focus {
  background-position: right;
  outline: none;
  border: none;
}


.headersAndButtonsContainer {
  display: grid;
  grid-template-columns: 35% 30% auto;
  grid-gap: 25px;
  justify-items: space-between;
  align-items: stretch;
}

.buttonsContainer {
  justify-self: start;
}

.heartButton {
  color: #E4A4E6;
}

.searchContainer {
  display: flex;
  padding: 35px;
  padding-right: 10px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  height: 35px;
  width: 80%;
  border: 2px solid #E8E8E8;
  border-radius: 0px 50px 50px 0px;
  padding-left: 20px;
  background-color: #E8E8E8;
  outline: none
}

.searchBar:focus {
  outline: none;
}

.searchIcon {
  border-radius: 50% 0% 0% 50%;
  border: 3px solid#E8E8E8;
  padding: 10px;
}