.searchContainer {
  display: flex;
  padding: 35px;
  padding-right: 10px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  height: 35px;
  width: 80%;
  border: 2px solid #E8E8E8;
  border-radius: 0px 50px 50px 0px;
  padding-left: 20px;
  background-color: #E8E8E8;
  outline: none
}

.searchBar:focus {
  outline: none;
}

.searchIcon {
  border-radius: 50% 0% 0% 50%;
  border: 3px solid#E8E8E8;
  padding: 10px;
}